[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
requests = "*"
authlib = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
ios = "python3 ./get_ios_apps_versions.py"
android = "python3 ./get_android_apps_versions.py"
